rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    match /tasks/{document} {
      allow read;
      allow write: if isAuthenticated();
    }

    match /users/{document} {
       allow read, create, update;
    }
  }
}
